<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
  <div class="container">
    <a class="navbar-brand header-title">Fashionista</a>
    <a routerLink="/" class="navbar-brand" *ngIf="auth.role=='Admin'&&auth.isAuthenticated()" routerLinkActive="active">Admin Portal</a>
    <a routerLink="/" class="navbar-brand" *ngIf="auth.role=='User'&&auth.isAuthenticated()" routerLinkActive="active">User Portal</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <ng-container *ngIf="!auth.isAuthenticated()">
          <li class="nav-item">
            <a routerLink="/auth/login" class="nav-link" routerLinkActive="active">
              Login
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/auth/register" class="nav-link">
              Register
            </a>
          </li>
        </ng-container>
        <ng-container *ngIf="auth.isAuthenticated()">
          <li class="nav-item">
            <a class="nav-link" *ngIf="auth.role=='Admin'" [routerLink]="['/manage-items']">
              Manage Items
            </a>
            <a class="nav-link" *ngIf="auth.role=='User'" [routerLink]="['/store']">
              Store
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="auth.role=='Admin'" [routerLink]="['/add-admin']">
              Add Admin
            </a>
            <a class="nav-link" *ngIf="auth.role=='User'" [routerLink]="['/shopping-cart']">
              Shopping Cart <span *ngIf="cartSize>0" class="badge badge-dark">{{cartSize}}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/profile']">
              {{ auth.getUsername() }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link pointer" (click)="logout()">
              Logout
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>