<div class="container text-center">
    <br><h2>Your Cart</h2><hr>
    <p *ngIf="!cart||cart.length==0">Your shopping cart is curently empty. Browse through our store to buy items.</p>
    <div *ngIf="cart&&cart.length>0">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Item Price</th>
                    <th>Update Quantity</th>
                    <th>Delete Cart Item</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cart" class="table-secondary">
                    <td>{{item.fashionItem.fname}}</td>
                    <td><input type="number" id="cartQuantity" min="0" max="100" value="{{item.quantity}}"></td>
                    <td>${{item.fashionItem.price}}</td>
                    <td><button class="btn btn-info" (click)="updateItemQuantity(item.fashionItem)">Update</button></td>
                    <td><button class="btn btn-danger" (click)="deleteItem(item.fashionItem)">Delete</button></td>
                </tr>
            </tbody>
        </table><br>
        <h5>Total: ${{total}}</h5><br>
        <button class="btn btn-primary" id="checkout-button" [disabled]="cart.length==0" (click)="checkout()">Checkout</button>
    </div>
</div>
